/*Main Page*/
.main-content {

}

.shell {
    margin: auto;
    max-width: 1600px;
    height: auto;
}

.main-title {
    margin: 5%;
    text-align: center;
}

.main-title > h2 {
    color: #323232;
    font-size: 26pt;
}

.main-title > p {
    color: #7d7d7d;
    font-size: 15pt;
}

/*Estate cards*/
.cards {
    /*padding: 0 20px;*/
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 50px;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    /*padding: 0 10% 0 10%;*/
}

@media (max-width: 950px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .makeStyles-root-8 {
        max-width: none !important;
        width: 75%;
    }
}

@media (max-width: 750px) {
    .cards {
        margin: auto;
        grid-template-columns: repeat(1, 1fr);
    }
}

/*User Slider*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background: #000000;
    z-index: 10;
}

header section {
    max-width: 1300px;
    margin: auto;
    padding: 20px;
    background: #FFD800;
}

@media (max-width: 1515px) {
    header section {
        max-width: 100%;
    }
}

header section .logo {
    transform: translateX(-87px);
}

header section a {
    float: right;
    padding: 3px 0;
}

.wrapper a {
    display: inline-block;
    margin: 5px;
}

.wrapper a:first-child {
    margin-left: 0;
}

.slider-wrapper {
    position: relative;
    height: 70vh;
    overflow: hidden;
}

.slide {
    height: 70vh;
    background-size: cover !important;
}

.slide::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    bottom: 0;
    left: 0;
}

.previousButton, .nextButton {
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.previousButton {
    left: 10px;
}

.previousButton:hover {
    left: 0px;
}

.nextButton {
    right: 0;
}

.nextButton:hover {
    right: -10px;
}

.slider-content {
    text-align: center;
}

.slider-content .inner {
    padding: 0 70px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.slider-content .inner button {
    -webkit-appearance: none;
    appearance: none;
    -webkit-filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    border: none;
    background: #FFD800;
    border-radius: 30px;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 15px 40px;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;
}

.slider-content .inner button:hover {
    color: #FFFFFF;
    background: #222222;
    -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}

.slider-content .inner h1 {
    font-weight: 900;
    margin: 0 auto;
    max-width: 840px;
    color: #FFFFFF;
    font-size: 64px;
    line-height: 1;
}

.slider-content .inner p {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.5;
    margin: 20px auto 30px;
    max-width: 640px;
}

.slider-content section {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.slider-content section span {
    color: #FFFFFF;
}

.slider-content section span {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    display: inline-block;
    text-align: left;
    line-height: 1.4;
    vertical-align: middle;
    margin-left: 10px;
}

.slider-content section .img {
    background: url(../../assets/bg/the-guy.jpg);
    background-size: cover;
    width: 40px;
    height: 40px;
    border: solid 2px rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    vertical-align: middle;
}

.slider-content section span strong {
    color: #FFFFFF;
    font-size: 14px;
    display: block;
}

@media (max-height: 500px) {
    .slider-wrapper, .slide {
        height: calc(100vh - 75px);
    }
}

@media (max-width: 640px) {
    .slider-wrapper, .slide {
        height: calc(80vh - 75px);
    }
}

@media (max-height: 600px) {
    .slider-content .inner h1 {
        font-size: 32px;
    }
}

@media (max-width: 640px) {
    .slider-content .inner h1 {
        font-size: 32px;
    }
}

/*=================================================================================*/
/*                               Before footer                                     */
/*                              SUPPORT section                                    */
/*=================================================================================*/
.support {
    padding: 2%;
    margin: 150px auto 0;
    background-color: #F1F6F8;
}
.support:after { content: ''; display: block; clear: both; }

.support > .main-title {
    float: left;
    width: 35%;
    text-align: left;
}

.support > .main-title h4 {
    color: #7d7d7d;
}

.support .phone {
    display: block;
    margin-bottom: 10px;
}

.support .businessman-container {
    padding-top: 6%;
    float: left;
}

.support .businessman-container .businessman {
    background: url(../../assets/bg/editor.jpg) no-repeat;
    background-size: contain;
    width: 493px;
    height: 492px;
}

@media (max-width: 750px) {
    .support .main-title {
        margin: auto;
        float: none;
        width: 50%;
    }

    .support .businessman-container {
        margin-top: 20px;
        float: none;
    }

    .support .businessman-container .businessman {
        margin: auto;
        width: 300px;
    }
}

@media (max-width: 600px) {
    .support .main-title {
        margin: auto;
        float: none;
        width: 50%;
    }

    .support .businessman-container .businessman {
        margin: auto;
        width: 200px;
    }
}
