@font-face {
  src: url("./assets/font/Obrazec2.0.otf");
  font-family: "Obrazec";
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: '-apple-system',
  'BlinkMacSystemFont',
  '"Segoe UI"',
  'Roboto',
  '"Helvetica Neue"',
  'Arial',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
