# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Vladislav\Semester_7\ВЧК\Курсова2_ВЧК_17621346_3b\prototype\real-estate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
